*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}
.navBar{
    background-color: transparent;
    display: flex;
    justify-content: space;
    text-decoration: none;
    /* margin-top: 1rem; */;
    color: black;
    padding: 1rem 1rem;
    border-radius: 2rem;
    position: absolute;
    
    /* margin-bottom: 1rem; */
    /* filter: drop-shadow(0.5rem 0.5rem); */
}
a{
    text-decoration: none;
    color: black;
}
.dash{
    color: aliceblue;
}
.btn1{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.list{
    margin-left: 5rem;
    /* text-decoration: none; */
}
.list1{
    margin-left: 69rem;
    text-decoration: none;
    margin-bottom: 2rem;
}
